<h1>Add a Category to the Box</h1>

<form action="/categories/new" method="post">
  <div class="form-group">
    <input id="category_name" name="category_name" type="text" class="form-control" placeholder="Category Name" autofocus required>
   </div>
  <button id="category_save" type="submit" class="btn btn-success">Save</button>
</form>
