<h1>Add a Ingredient to the Box</h1>

<form action="/ingredients/new" method="post">
  <div class="form-group">
    <input id="ingredient_name" name="ingredient_name" type="text" class="form-control" placeholder="Ingredient Name" autofocus required>
   </div>
  <button id="ingredient_save" type="submit" class="btn btn-success">Save</button>
</form>
