<h1>Add a Recipie to the Box</h1>

<form action="/recipies/new" method="post">
  <div class="form-group">
    <input id="recipie_name" name="recipie_name" type="text" class="form-control" placeholder="Recipie Name" autofocus required>
   </div>
   <div class="form-group">
     <input id="instructions" name="instructions" type="text" class="form-control" placeholder="Recipie Instructions" required>
    </div>
    <div class="form-group">
      <select class="form-control" id="rating">
        <% 6.times do |i| %>
          <option id="rating_<%= i %>" value="<%= i %>"><%= i %></option>
        <% end %>
      </select>
    </div>
  <button id="recipie_save" type="submit" class="btn btn-success">Save</button>
</form>
