<h1>Add a Recipe to the Box</h1>

<form action="/recipes/new" method="post">
  <div class="form-group">
    <input id="recipe_name" name="recipe_name" type="text" class="form-control" placeholder="Recipe Name" autofocus required>
   </div>
   <div class="form-group">
     <input id="instructions" name="instructions" type="text" class="form-control" placeholder="Recipe Instructions" required>
    </div>
    <div class="form-group">
      <select class="form-control" id="rating" name="rating">
        <% 6.times do |i| %>
          <option id="rating" value="<%= i %>"><%= i %></option>
        <% end %>
      </select>
    </div>
  <button id="recipe_save" type="submit" class="btn btn-success">Save</button>
</form>
