<h1>Add a Recipe to the Box</h1>

<form action="/recipes/new" method="post">
  <div class="form-group">
    <input id="recipe_name" name="recipe_name" type="text" class="form-control" placeholder="Recipe Name" autofocus required>
   </div>
   <div class="form-group">
     <input id="instructions" name="instructions" type="text" class="form-control" placeholder="Recipe Instructions" required>
    </div>
    <div class="form-group">
      <p>Assign a Rating:</p>
      <span class="starRating">
        <input id="rating5" type="radio" name="rating" value="5">
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4">
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3">
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1" checked="checked">
        <label for="rating1">1</label>
      </span>
    </div>
  <button id="recipe_save" type="submit" class="btn btn-success">Save</button>
</form>
