<h1>Here are your Recipes</h1>

<% if @all_recipes.any? %>
  <ul>
    <% @all_recipes.each do |recipe| %>
      <li>
        <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
          <fieldset disabled>
              <% 5.times do |i| %>
                <% i += 1 %>
                <% if recipe.rating == i %>
                  <img width="11%" height="11%" src="/img/<%= i %>star.png" alt="img/<%= i %>star" />
                <% end %>
              <% end %>
          </fieldset>
      </li>
    <% end %>
  </ul>
<% end %>

<form class="form-group" action="/recipes/sort/rating" method="get">
  <p>Sort Recipes by Rating</p>
  <button class="btn btn-info" type="submit" name="recipes_by_rating" id="recipes_by_rating">Sort</button>
</form>
