html,

/*div#first {
  content: "";
  background: url("img/box.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

div#second {
  ba
}*/
body {
  height: 100%;
  opacity: .9;
  color: #fff;
  background-image: url("img/box.jpg");
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #d3d3d3;
  opacity: 0.8;

}

h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;

  text-align: center;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

/*.no-wrap{
  white-space: nowrap;
}*/

.stretch {
  width: 100%;
}

.form-bottom-1 {
  position: absolute;
  bottom: 90px;
}

.form-bottom-2 {
  position: fixed;
  bottom: 180px;
}
